@model IEnumerable<TripSplit.Models.Trip>
@{
    ViewBag.Title = "Trips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; margin-top: 30px">Happy Splitting!</h2></center>
@if (!Model.Any())
{
    <p>We don't have any available trips yet.</p>
}
else
{
    <table class="table table-bordered table-hover" style="margin-top: 20px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.originInput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.destinationInput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.returnDate)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.tripDistance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tripDuration)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flightNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThemeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalUsersOnTrip)
            </th>
            <th>
                <p>Shared Ratio</p>
            </th>
        </tr>
        @foreach (var trip in Model)
        {
            if (trip.IsPublic == "public" && (trip.departureDate > DateTime.Now))
            {
                <tr>
                    <td>
                        @Html.ActionLink(trip.Name, "Detail", "User", new { id = trip.Id }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => trip.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => trip.originInput)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => trip.destinationInput)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => trip.departureDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => trip.returnDate)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => trip.tripDistance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => trip.tripDuration)
                        </td>*@
                    <td>
                        $@Html.DisplayFor(modelItem => trip.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => trip.flightNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => trip.ThemeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => trip.totalUsersOnTrip)
                    </td>
                    <td></td>
                </tr>
            }
        }
    </table>

}

<img src="~/Content/travelwaitingCollage.jpg" alt="travelcollage" width="1140" height="300">
    

