@model IEnumerable<TripSplit.Models.Trip>
@{
    ViewBag.Title = "ViewMyTrips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Trips</h2>
@if (!Model.Any())
{
    <p>You don' seem to have any trips planned yet.</p>
    
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.originInput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.destinationInput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theme)
            </th>
        </tr>
        @foreach (var trip in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => trip.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => trip.originInput)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => trip.destinationInput)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => trip.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => trip.Theme.destinationTheme)
                </td>
            </tr>
        }
    </table>
}

